*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.credits{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.credits p{
font-size: 16px;
}
.socials{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.socials a{
    font-size: 25px;
    color:#e13946 ;
}